font-face {
    font-family: "Roboto"; 
    src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot"); 
    src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto") format("svg"); 
}   

.button {
    width: 120px;
    height: 40px;
    font: 400, 14px/16px, "Roboto";
    color: #FFFFFF;
    background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 104.29%);
    border-radius: 5px;
}

.button--long {
    width: 140px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
}

.button--large {
    width: 200px;
    height: 60px;
    font: 400, 14px/16px, "Roboto";
    color: #FFFFFF;
    background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 104.29%);
    border-radius: 5px;

} 