.card {
    display: block;    
}

.card__image {
    margin-bottom: 24px;
    width: 260px;
    height: 240px;
    background-color: grey;
}

.card__text {
    font-family: sanserif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.card__text--big {
    font-size: 18px;
    line-height: 28px;
}

.card__text--bold {
    font-weight: 700;    
}

.card__price {
    margin-top: 20px;
}

.card__button {
    margin-top: 2px;
}