@font-face {
    font-family: "Roboto"; 
    src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot"); 
    src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto") format("svg"); 
}   

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVF9eO.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Product Sans Bold'), local('ProductSans-Bold'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdrPKbT2lB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 100px;
}

.header__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px 40px;
}

.header__logo {
    justify-items: flex-start;
    display: flex;
    background: linear-gradient(90deg, #3AE4DF 20%, #7A88FF 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 7.5%;
    height: 100%;
}

@media (min-width: 1024px), (max-width: 1268px) {
    .header__logo {
        width: 9%;
    }
}

.logo__text {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    align-content: center;
}

.navigation {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    flex-direction: row;
    padding: 12px 0 0 0;
    width: 52%;
}

@media (min-width: 1024px), (max-width: 1268px) {
    .navigation {
        margin-left: 2%;
        width: 54%;
        font-size: 12px;
    }
}

.navigation__list {
    align-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.navigation__link {
    align-content: center;
    font-family: "Roboto";
}

.certificate {
    margin-left: 20%;
    padding: 11px 0 0 0;
    width: 9%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

@media (min-width: 1024px), (max-width: 1268px) {
    .certificate {
        margin-left: 14%;
        width: 15%;
    }
}

.certificate__image {
    align-items: center;
}

.certificate__text {
    align-items: center;
    font-family: "Roboto";
    font-size: 13px;
    line-height: 15px;
}

.header__button {
    margin-left: 2%;
}

.intro {
    width: 100%;
    height: 700px;
    background: linear-gradient(90deg, #FFFCEB 0%, #EAFFFE 100%);
}

